@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #e4e4e7;
  --muted: #71717a;
  --border: #27272a;
  --accent: #22d3ee;
  --accent-hover: #a3e635;
}

html {
  @apply antialiased;
}

body {
  @apply bg-surface-950 text-zinc-100 min-h-screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
